SKIP_ENV_VALIDATION=false

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5433/bug-bounty"

BLOB_READ_WRITE_TOKEN=

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Providers
EMAIL_SERVER=""
TWITTER_CLIENT_SECRET=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_SECRET=""

# Default values for these are pulled from the .env file
#EMAIL_FROM="bugbountyapp@gmail.com"
#TWITTER_CLIENT_ID=""
#GOOGLE_CLIENT_ID=""
#GITHUB_CLIENT_ID=""

# Wallet Address to use for DB seed data (use payment address, e.g. addr_...)
SEED_WALLET_ADDRESS=